{% extends 'layouts/base.html' %}
{% load static %}

{% block contant %}
    <header>
        <section class="section_one">
            <div class="text_sec">
                <h1>
                    Hi, I am John, <br> Creative Technologist
                </h1>
                <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <div class="img_img">
            </div>
            </div>
        </section>
        <div class="bttnn">
            <button>
                <a href="#">Download Resume</a>
            </button>
    </header>

    <!--section end -->

    <section class="second">
        <div class="second_top">
            <h1>Recent posts</h1>
            <a href="{% url 'blogs' %}">View all</a>
        </div>
        <div class="second_boxs">
            {% for blog in posts %}
                <div>
                    <h1>{{ blog.title }}</h1>
                    <h2>
                        {{ blog.created_at|date:"d F Y" }} &nbsp; &#10072; &nbsp;
                        {{ blog.category }}
                    </h2>
                    <p>
                        {{ blog.body|truncatewords:20|safe }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section> <!--end section 2-->
    <section class="thirddh">
        <div class="thirth">
            <h1>Featured works</h1>
            {% for work in object_list %}
                <div class="news">
                    <div class="triangle">
                        <img src="{{ work.work_image.url }}" alt="{{ work.title }}" class="img-fluid work_image">
                        <div class="triangle_in">
                            <a href="{% url "detail" work.id %}">{{ work.title }}</a>
                            <div class="date">
                                <div class="boxx">
                                    <p>{{ work.created_at|date:'Y' }}</p>
                                </div>
                                <h2>
                                    {% for i in work.category.values %}
                                        {% if forloop.last %}
                                            <h2 class="m-0">{{ i.name }}</h2>
                                        {% else %}
                                            <h2 class="ms-0 me-3">{{ i.name }},</h2>
                                        {% endif %}
                                    {% endfor %}
                                </h2>
                            </div>
                            <div>
                                {{ work.body|truncatewords:20|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </section>
{% endblock %}